{% extends 'base.html.twig' %}

{% block title %}Nuevo{% endblock %}

{% block body %}
    {% if is_employee %}
        <h1>Nuevo empleado</h1>
    {% else %}
        <h1>Nuevo empleador</h1>
    {% endif %}

    {{ include('employee/_form.html.twig') }}

    <a href="{{ path('employee_index') }}">Volver al listado</a>
{% endblock %}
