{% extends 'base.html.twig' %}
{% block title %}Home{% endblock %}

{% block body %}
        <h1 class="cover-heading">by Gabriel Rodríguez</h1>
        <p class="lead">Symfony Framework 5.1 - Bootstrap 4 - MySQL</p>
{% endblock %}